.hide{
    composes: hide from "../styles/index.css";
}

.container{
    composes: container from "../styles/index.css";
    max-height: 135rem;
    

}

.link{
  grid-area: back;
  text-decoration: none;

}

.back{
  margin-top: 4.5rem;
  font-size: 1.5rem;
  color: var(--white-color);
  font-weight: 300;
  opacity: 0.5;
  display: flex;
}

.back::before{
  content: url("../assets/leftarrowwhite.svg");
  margin-right: 1rem;
  margin-top: -0.2rem;
}

.highlight{
  font-weight: 700;

}

.intro{
    background-color: var(--blue-color);
    height: 90rem;

    background-image: url("../assets/obvletters.svg");
    background-repeat: no-repeat;
    background-size: 35rem;
    background-position-y: 5rem;

    display: grid;
    grid-template-columns: 5rem 1fr 5rem;
    grid-template-rows: 20rem min-content 5rem min-content 5rem min-content;
    grid-template-areas: 
    '. back .'
    '. sub .'
    '. . .'
    '. main .'
    '. . .'
    '. swipe .'
}

.hoofdtext{
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.4rem;
  grid-area: main;
}

.subtext{
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  grid-area: sub;
}

.verhalen{
    margin-bottom: 5rem;
}

.barcontainer
{
  position: fixed;
  z-index: 5rem;
  width: 100%;
  height: 1.2rem;
  background-color: #F1F1F1;
  bottom: 0;
}

.progressline12
{
  height: 1.2rem;
  background-color: var(--pink-color);
  animation: loading12 1s  ease-out forwards;
}

@keyframes loading12 {
    0%
      {
        width: 0%;
      }
    100%
      {
        width: 12.5%;
      }

  }

  .progressline25
  {
    height: 1.2rem;
    background-color: var(--pink-color);
    animation: loading25 1s  ease-out forwards;
  }
  
  @keyframes loading25 {
      0%
        {
          width: 12.5%;
        }
      100%
        {
          width: 25%;
        }
  
    }

  .swipeupcontainer{
    grid-area: swipe;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

  }

  .swipeupcontainer p{
    color: var(--white-color);
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 1rem;

  }

  .swipeup span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 5rem;
    border: .4rem solid var(--white-color);
    box-sizing: border-box;
  }
  
  .swipeup span::before {
    display: block;
    content: '';
    width: .5rem;
    height: .6rem;
    background-color: var(--white-color);
    animation: swipe 2s infinite;
  }
  
  @keyframes swipe {
  
    0% {
      opacity: 0;
    }
  
    40% {
      transform: translate(0, 1rem);
      opacity: 0;
    }
  
    80% {
  
      opacity: 1;
    }
  
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }

  .verhalen{
    transform: translateY(-15rem);
    margin-bottom: -10rem;

  }


  .cell{
    width: 30rem;
    height: 45rem;
    margin: auto;
    background-color: var(--white-color);
    border-radius: 3rem 0rem 3rem;
    margin-bottom: 2rem;
    box-shadow: 0px 8.62673px 16.1751px rgba(0, 0, 0, 0.1);
    padding-bottom: 2rem;
    overflow: auto;
    display: grid;
    grid-template-columns: 2rem 1rem 1fr 1rem 2rem;
    grid-template-rows:  3rem min-content 3rem max-content 5rem min-content;
    grid-template-areas: 
    '. . . . .'
    '. identiteit identiteit identiteit .'
    '. . . . .'
    '. vraag vraag vraag .'
    '. . . . .'
    '. . verhaal . .'
  }

  .cell::-webkit-scrollbar {
    width: 0.5rem;
    height: 10rem;
}
 
.cell::-webkit-scrollbar-thumb {
  background-color: var(--gray-color);
  min-height: 5rem;
  border-radius: 5rem;
}

.cell::-webkit-scrollbar-button{
  height: 2rem;
}


  .naam{
    color: var(--pink-color);
    font-weight: 900;
    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: -0.2rem;
    
  }

  .leeftijd{
    color: var(--gray-color);
    font-weight: 500;
    font-size: 1.7rem;
    align-self: flex-end;
  }

  .locatie{
    color: var(--pink-color);
    font-size: 1.5rem;
    font-weight: 300;
    grid-area: locatie;
    justify-self: flex-end;
    
  }


  .identiteit{
    grid-area: identiteit;
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-areas: 
    '. .'
    'locatie locatie';
    grid-gap: 1rem;
  }

  .vraag{
    grid-area: vraag;
    color: #8e8e8e;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
  }

  .verhaal{
    grid-area: verhaal;
    color: var(--gray-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2rem;
    margin-bottom: 5rem;
    position: relative;
    z-index: 2;
  }

  .verhaal:before{
    content: "";
    display: block;
    background: url("../assets/quotation-mark.svg") no-repeat;
    width: 6rem;
    height: 6rem;
    margin-top: -3rem;
    margin-left: -1rem;
    position: absolute;
    z-index: 0;

  }

  .button{
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem; 
  }


  .noseat{
    grid-column: 2/-2;
    justify-self: center;
    align-self: center;

    font-size: 1.5rem;
    font-weight: 700;
    color: var(--pink-color);
    text-align: center;
    margin-top: 40rem;
  }
  