.bluebackground{
    background-color: var(--blue-color);
}

.container {
    composes: container from "../../styles/index.css";
    margin-top: 5rem;
  }

  .wrapper{
    composes: wrapper from "../../styles/index.css";
  }

  .hide{
    composes: hide from "../../styles/index.css";
  }

.title{
    font-weight: 900;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 5rem;
    color: transparent;
    -webkit-text-stroke: 0.177rem var(--white-color);
}

.ontdekgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ontdekkenitem{
    border-left: 1rem solid var(--pink-color);
    width: 30rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-top: 5rem;
    margin-bottom: 10rem;
}

.ontdektype{
    color: var(--white-color);
    font-weight: 700;
    font-size: 3.6rem;
    text-transform: uppercase;
    margin-left: 2rem;
}


.ontdektram{
    margin-top: -4rem;
    color: var(--white-color);
    font-weight: 700;
    font-size: 3.6rem;
    text-transform: uppercase;
    margin-left: 2rem;
}

.ontdektext{
    margin-top: 2rem;
    color: var(--white-color);
    font-weight: 300;
    line-height: 2.4rem;
    font-size: 1.4rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.ontdekfototram{
    transform: translateY(-4rem);
}

.sponsors{
    display: grid;
    margin: auto;
    width: 80rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.footergrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 10rem;
}

.footertitle{
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.footeritem{
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0.5;
    margin-bottom: 1rem;
}

.socialsbox{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 6rem;
    margin-bottom: 2rem;
}

.socialstext{
    color: var(--white-color);
    font-weight: 500;
    font-size: 1.2rem;
    opacity: 0.5;

}

.socialsflex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 17rem;
}

.jaar{
    font-size: 1rem;
    font-weight: 700;
    color: var(--white-color);
    opacity: 0.2;
}