.popupinner {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    margin: auto;
    background: var(--blue-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-areas: '. content .';
  }

  .popcontent{
      grid-area: content;
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      justify-content: space-between;
  }

  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.7);
  }

  .buttons{
      display: flex;
      flex-flow: column nowrap;
      height: 11rem;
      justify-content: space-between;
  }

  .title{
      color: var(--white-color);
      font-size: 2.2rem;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 1rem;

  }

  .subtitle{
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 400;

  }

  .ticket{
    width: 80%;
    margin: auto;
  }

  .buttonwhite{
    height: 5rem;
    width: 100%;
    background-color: var(--white-color);
    border: none;
    outline: none;
    border-radius: 0rem 1.5rem 0rem;
    color: var(--blue-color);
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 700;

  }

  .download{
      text-decoration: none;
  }

  .buttonwhite::after{
    content: url("../assets/download.svg");
    margin-left: 1rem;

  }

  .buttonoutline{
    height: 5rem;
    width: 100%;
    background-color: transparent;
    border: 0.2rem solid var(--white-color);
    outline: none;
    border-radius: 0rem 1.5rem 0rem;
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 700;

}