.qrcontainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: 4rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.qrcode{
    height: 25rem;
    width: 20rem;
    background-color: var(--blue-color);
    background-image: url("../assets/qrkaartje.svg");
    background-position: center;
    background-size: 20rem 25rem;
    margin-right: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid black;
}


.zetel{
    margin-top: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: var(--white-color);
}