:global(:root){
    --white-color: #FFFFFF;
    --black-color: #000000;
    --blue-color: #264B79;
    --gray-color: #9F9F9F;
    --pink-color: #EF5A64;
    --grey: rgb(245, 248, 250);
  --dark-grey: #9197a3;
  --mid-grey: rgb(211, 220, 225);
  --blue: rgb(29, 161, 242);
  --black: rgb(20, 23, 26);
  --orange: rgb(253, 181, 60);
  --red: rgb(255, 46, 107);
  }

@custom-media --xs screen and (min-width: 0);
@custom-media --sm screen and (min-width: 24em); /*md = 768px / 2 = 384px / 16 = 24em */
@custom-media --md screen and (min-width: 45em); /*lg = 1440px / 2 = 720px / 16 = 45em */
@custom-media --xl screen and (min-width: 78.75em);