@import "./reset.css";
@import "./colors.module.css";


html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .hide{
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .wf-montserrat-n4-active body {
    font-family: 'Montserrat', 'Arial', sans-serif;
  }

  .wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .container {
    margin: 0 auto;
    max-width: 57.6rem;

    @media (--md) {
      max-width: 76rem;
    }
  
    @media (--xl) {
      max-width: 115rem;
    }
  }

  .img-responsive {
    width: 100%;
    height: auto;
  }