@import "./reset.css";
@import "./colors.module.css";


html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .hide{
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
    font-weight: 300;
  }

  .wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    max-width: 126rem;
  }