@import "./reset.css";
@import "./colors.module.css";


html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .hide{
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
  }
  

  .wf-montserrat-n4-active body {
    font-family: 'Montserrat', 'Arial', sans-serif;
  }

  .wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @media only screen and (min-width: 0){
    .container {
      margin: 0 auto;
      max-width: 57.6rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  @media only screen and (min-width: 45em){
    .container {
      margin: 0 auto;
      max-width: 76rem;
    }
  }

  @media only screen and (min-width: 78.75em){
    .container {
      margin: 0 auto;
      max-width: 115rem;

    }
  }

  .img-responsive {
    width: 100%;
    height: auto;
  }